@using PeezyMovies.Core.Models
@model IEnumerable<MovieViewModel>
@{
    ViewData["Title"] = "Home Page";
    bool first = true;
}

@if (!this.User.Identity.IsAuthenticated)
{
 <div class="mt-5 p-5 bg-light text-center">
      <h1 class="display-4">Welcome to the best site for movies!</h1>
      <a class="btn btn-success" asp-controller="User" asp-action="Register">
          Click for Register!
      </a>
 </div>
}



@if (Model.Count() == 0)
{
            <div class="mt-4 p-5 bg-light">
                <h1 class="display-4">Welcome to the best site for movies!</h1>
                <p class="lead">
                    There are no movies in the system currently available
                    so why don't you just add one?
                </p>
                <hr class="my-4">
                <p class="lead">
            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated)
            {
                                <a asp-controller="Movies" asp-action="Add" class="btn btn-primary btn-lg"
                    role="button">Add Movie</a>
            }
                </p>
            </div>
}

<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @foreach (var movie in Model)
        {
                    <div class="carousel-item @(first ? "active" : string.Empty)">

                           <img  src="@movie.ImageUrl" title="@movie.Title" class="img-responsive img-fluid" alt="Movie Cover Path" />
                        <div class="carousel-caption d-none d-md-block">
                            <h5>
                             <a class="btn btn-primary" asp-controller="Movies" asp-action="Trailer" asp-route-id="@movie.Id"> @movie.Title</a>
                            </h5>
                        </div>
                    </div>

            @(first = false)
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>