@model AddMovieViewModel

@{
    ViewBag.Title = "Add Movie";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="@Model.Title" class="form-label">Title</label>
                <input asp-for="@Model.Title" class="form-control" aria-required="true" placeholder="Wrong Turn 7"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Director" class="form-label">Director</label>
                <input asp-for="@Model.Director" class="form-control" aria-required="true" placeholder="Stewen King" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.ImageUrl" class="form-label">Image URL</label>
                <input asp-for="@Model.ImageUrl" class="form-control" aria-required="true" placeholder="https://.."/>
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.Price" class="form-label">Movie Price</label>
                <input asp-for="@Model.Price" class="form-control" aria-required="true" placeholder="25.99$" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.Description" class="form-label">Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Rating" class="form-label">Rating</label>
                <input asp-for="@Model.Rating" class="form-control" value="" placeholder="5.0" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Actors" class="form-label">Actors</label>
                <select asp-for="@Model.Actors" class="form-control">
                    @foreach (var genre in Model.Actors)
                    {
                                <option value="@genre.Id">@genre.FullName</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.GenreId" class="form-label">Genre</label>
                <select asp-for="@Model.GenreId" class="form-control">
                    @foreach (var genre in Model.Genres)
                    {
                            <option value="@genre.Id">@genre.Name</option>
                    }
                </select>
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
             <div class="mb-3">
                <label asp-for="@Model.CinemaId" class="form-label">Cinema</label>
                <select asp-for="@Model.CinemaId" class="form-control">
                    @foreach (var cinema in Model.Cinemas)
                    {
                                <option value="@cinema.Id">@cinema.Name</option>
                    }
                </select>
                <span asp-validation-for="CinemaId" class="text-danger"></span>
            </div>
                <div class="mb-3">
                <label asp-for="@Model.ProducerId" class="form-label">Producer</label>
                <select asp-for="@Model.ProducerId" class="form-control">
                    @foreach (var producer in Model.Producers)
                    {
                                    <option value="@producer.Id">@producer.FullName</option>
                    }
                </select>
                <span asp-validation-for="ProducerId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}