@using PeezyMovies.Infrastructure.Data.Models
@model Movie

@{
    ViewData["Title"] = "Movie details";
}
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Movie Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Located in: <a asp-controller="Cinema" asp-action="Details" asp-route-id="@Model.CinemaId">@Model.Cinema.Name</a>
            </p>
            <p>
                Price :
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Genre: <b>@Model.Genre.Name</b></p>
            <div class="form-inline">
           <p class="card-text">
                 <b>Actors: </b>
                            <hr />
               <div class="col">
                   @foreach (var actor in Model.ActorsMovies)
                   {
                         <p class="row text-center">
                        <img class="border-info" src="@actor.Actor.ImageUrl" style="max-width: 150px" />
                        <a asp-controller="Actors" asp-action="Details" asp-route-id="@actor.ActorId">@actor.Actor.FullName</a>
                        </p>
                   }
               </div>
           </p>
            </div>
            <p></p>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Producer Info</h5>
                    <p class="card-text">Name: <a asp-controller="Producers" asp-action="Details" asp-route-id="@Model.ProducerId">@Model.Producer.FullName</a>
                    </p>
                    <p class="card-text"></p>
                </div>
               
            </div>
        </div>
         <div class="card-group">
            <p class="card-text">
                <a class="btn btn-outline-primary float-right" asp-action="All">
                    Back to List
                </a>
             
                <form class="input-group-sm" asp-route-movieId="@Model.Id" asp-controller="Orders" asp-action="AddItemToShoppingCart" method="post">
                 <button type="submit" class="btn btn-primary"><span class="bi bi-bag-plus-fill"></span>Add to Cart (Price @Model.Price.ToString("c"))</button>
                 </form>

            </p>
        </div>
    </div>
</div>